.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.displayHousesContainer {
  width: 100%;
  background-color: var(--muted-navy);
  padding: 2vw;
  border: var(--gryffindor-yellow) 0.1rem solid;
  font-size: 0.75rem;
}

.displayHousesContainer h3 {
  text-align: center;
}

.deleteButton {
  color: white;
  max-width: fit-content;
}

.deleteButton:hover {
  color: var(--charcoal);
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .displayHousesContainer {
    font-size: 1rem;
  }
}
