.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.wizardSearchForm,
.addWizardForm {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
}
.wizardSearchContainer {
  text-align: center;
}

.addWizardContainer {
  text-align: center;
}

.displayWizardsContainer {
  width: 100%;
}
.displayWizardsTable {
  width: 100%;
  text-align: center;
  overflow-x: scroll;
}

.displayWizardsContainer table,
.displayWizardsTable th,
.displayWizardsTable td {
  border: 1px solid black;
}

.editModalContainer {
  position: relative;
  background-color: var(--muted-navy);
  padding: 5vw;
  border: var(--gryffindor-yellow) 0.1rem solid;
}
.closeEditModal {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5% 5% 0 0;
}

.editButton,
.deleteButton,
.closeEditModal {
  cursor: pointer;
}
