.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.wizardSearchForm,
.addWizardForm {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
}
.wizardSearchContainer {
  text-align: center;
}

.addWizardContainer {
  text-align: center;
}

.displayWizardsContainer {
  width: 100%;
}
.displayWizardsTable {
  width: 100%;
  text-align: center;
  overflow-x: scroll;
}

.displayWizardsContainer table,
.displayWizardsTable th,
.displayWizardsTable td {
  border: 1px solid black;
}

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editButton,
.deleteButton,
.closeEditModal {
  cursor: pointer;
}

.addWizardButton button {
  padding: 2%;
  background-color: var(--hufflepuff-canary);
  border: var(--ravenclaw-gold) 0.4rem solid;
  color: var(--muted-navy);
  width: 10rem;
  height: 3rem;
  font-size: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.addWizardButton button:hover {
  color: aliceblue;
}
